@{
    ViewData["Title"] = "Главная";
}

<div class="table tbl">
   <div class="header">
     <div>
       <div>Список адресов</div>
     </div>
   </div>
   <div>
     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
       <div>Cell 1</div>
     </a>
     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
       <div>67 5 6 34 8hjk g rr76</div>
     </a>   
   </div>
 </div>

